<% layout('layout/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Cabin</h1>
        <div class="col-6 offset-3">
            <form action="/cabins" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="cabin[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="cabin[location]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input class="form-control" placeholder="0.00" type="text" id="price" name="cabin[price]"
                            required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <input type="file" name="iamge" multiple>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="cabin[description]"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>

                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Cabin</button>
                </div>
            </form>
            <a href="/cabins">Back to Cabins</a>
        </div>
    </div>